/* Configuración global del DOM */
body{
	background-image : url('../images/bg.png') !important;
	background-repeat: repeat;
	background-attachment: fixed; 
}

/* Fin configuración global del DOM */

/* Paleta */
.paleta_1{
	background-color: #222831 !important;
}

.paleta_2{
	background-color: #393E46 !important;
}

.paleta_3{
	background-color: #00ADB5 !important;
}

.paleta_4{
	background-color: #38B0C6 !important;
}

.paleta_5{
	background-color: #EEEEEE !important;
}
/* Fin paleta*/

/* Menú */

.navbar-default {
    background-color: #222831 !important;
    border-color: #222831 !important;
}

.navbar-default .navbar-nav > li > a{
    color: #fff !important;
}
.navbar {
	border-radius: 0px !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #393E46;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #393E46;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #393E46;
}

@media (max-width: 767px){
	.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:active {
	    color: #fff;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
	    background-color: #393E46;
	}
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.navbar {
    margin-bottom: 0px !important;
}

i{
	color: #00ADB5 !important;
}

/* Fin Menú */

/* Mis reglas importantes*/
.hoverdiv:hover{
	opacity: 0.8;
}

.strongseparator{
	color: #00ADB5 !important;
	padding-left: 7px;
	margin-left: 7px;
    border-left: 2px solid #00ADB5;
}

.btn-fullwidth{
	width: 100% !important;
}
/* Fin reglas importantes*/

/* Sobre escribiedo bootstrap */
.btn i, .verproductos i {
	color: #fff !important;
}

.btn{
	border-radius: 3px !important;
	box-shadow: 0px 1px 3px 0px #888888 !important;
}

.btn:hover{
	box-shadow: 0px 1px 5px 0px #888888 !important;
}

.btn-primary, .btn-primary:active, .btn-primary:focus{
	background-color: #00ADB5 !important;
	border-color: #00ADB5 !important;
	transition: all .3s ease;
}

.btn-primary:hover{
	background-color: #38B0C6 !important;
	border-color: #38B0C6 !important;
}

.btn-success, .btn-success:active , .btn-success:focus{
	background-color: #00b10f !important;
	border-color    : #00900c !important;
	padding         : 5px;
	padding-left    : 20px;
	padding-right   : 20px;
	margin-top      : 20px !important;
	margin-bottom   : 20px !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #00ADB5;
    border-color: #00ADB5;
}

.pagination > li > a, .pagination > li > span {
    color: #00ADB5;
}
/* Fin sobre escribiedo bootstrap */

/* Panel */

.panel-default > .panel-heading {
    color: #fff !important;
    background-color: #222831 !important;
    border-color: #222831 !important;
}
.panel-body {
    border: 1px solid #222831;
}

.panel-default {
    border-color: #ddd !important;
    box-shadow: 0px 4px 8px #888888 !important;
}
.panel{
	border: none !important;
}

/* Fin panel */

/* Div productos [Agregar - Historial - Consultas]*/

.product {
	background-color: #f3f3f3;
	padding         : 20px;
	border          : 1px solid #bbbbbb;
	border-top      : none;
}

.resumen_info{
	width           : 100%;
	height          : auto;
	margin-top      : 30px;
	color           : #fff;
	padding 		: 5px;
	padding-left    : 15px; 
}

.resumen_info i {
	color: #fff !important;
}

.form-group i{
	color: #333333 !important;
}

.resumen_info i:hover {
	border-top: 2px solid #fff;
}

/* Boton mostrar producto */

.mybtn{
	border-radius: 3px;
	box-shadow: 0px 1px 3px 0px #888888 !important;
	transition: all .5s ease;
}

.mybtn:hover{
	box-shadow: 0px 1px 5px 0px #888888 !important;
}

#contenedorverproductos{
	margin-top: 20px;
	margin-bottom: 30px;
}

/* Colores y efectos el boton mostrar productos */

.bg_finalizado{
	background-color:  #01A811 !important;
}

.bg_recibido{
	background-color: #FC720D !important;
}

.bg_mediacion{
	background-color: #FF400D !important;
}

.bg_disputa{
	background-color: #E51300 !important;
}

.bg_devolucion{
	background-color: #753F0C !important;
}

.bg_reembolsado{
	background-color:  #01A811 !important;
}

.bg_default_salmon{
	background-color: #4D0DF5;
}

.bg_green{
	background-color: #00b10f !important;
}

.bg_salmon{
	background-color: #4D0DF5 !important;
}


/* efectos cajas de historial*/

.all_resumen{
	padding         : 10px;
	height          : auto;
	width           : 100%;
	color: #fff;
	background-color: #b71c1c;
}
.mainkja{
	background-color: #fff;
	color           : #444444;
	margin-bottom   : 30px;
}

.kja_camino{
	border          : 1px solid #4D0DF5;
	border-left     : 6px solid #4D0DF5;
	
}

.kja_recibido{
	border          : 1px solid #FC720D;
	border-left     : 6px solid #FC720D;
	
}

.kja_finalizado{
	border          : 1px solid #01A811;
	border-left     : 6px solid #01A811;
	
}

.kja_mediacion{
	border          : 1px solid #FF400D;
	border-left     : 6px solid #FF400D;
	
}

.kja_disputa{
	border          : 1px solid #E51300;
	border-left     : 6px solid #E51300;
	
}

.kja_devolucion{
	border          : 1px solid #753F0C;
	border-left     : 6px solid #753F0C;
	
}
.kja_reembolsado{
	border          : 1px solid #01A811;
	border-left     : 6px solid #01A811;
	
}

.stateinkja{
	color: #fff;
    padding: 3px;
    padding-left: 10px;
    padding-right: 30px;
    border-radius: 0px 0px 50px 0px;
}

.kja{
	min-height  : 100px;
	max-width   : 100%;
	padding     : 20px;
	padding-left: 30px;
	text-align  : left;
	height      : auto;
}
.kjaname{
	width    : 100%;
	height: auto;
	padding-left: 15px;
	padding-top: 3px;
}

.kjacolor {
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 30px;
    color: #fff;
    font-size: 14px;
    border-radius: 0px 0px 50px 0px;
    position: relative;
    top: -3px;
}

#tourl{
	padding-left: 30px;
}

#tourl a:hover{
	text-decoration: underline !important;
}

@media (min-width: 768px){
	#tourl{
		padding-left: 15px;
	}	
}

#tourl a{
	color: #171717;
}
/* Fin div productos */

/* Fin Colores panel div productos */




/* Micelanios :v */

hr {
    border-top: 1px solid rgba(57, 62, 70, 0.4);
}

a{
	text-decoration: none !important;
}

#mensaje{
	margin-top  : 30px;
	margin-right: 15%;
	margin-left : 15%;
	height      : auto;
}

.text_light_gray{
	color: #BEBEBE;
}
/* Fin micelanios */

/* Footer */
footer{
	height          : auto;
	padding         : 15px;
	width           : 100%;
	background-color: #222831;
	color           : #fff;
	margin-bottom   : 30px;
}
/* Fin footer */

/* Clases para efectos JQuery */
.display_product{
	display: none;
	overflow: hidden;
}

.verproductos{
	color : #fff;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
}

.verproductos a{
	text-decoration: none !important;
}
/* Fin clases para efectos JQuery */

/* Pagina Consulta*/

.consulta_style{
	margin-top: 20px;
	padding: 15px;
	border: 2px;
	border-style: dashed;
	margin-bottom: 25px;
}

.titulo_consulta{
	background-color: #00ADB5;
	padding         : 5px;
	padding-left    : 25px;
	padding-right   : 25px;
	border-radius   : 30px 0px 30px 0px;
	display: inline-block;
}

.titulo_consulta_container{
	margin    : 20px;
	margin-top: 15px;
	color     : #fff;
}
/* Fin pagina consulta */

/* Pedidos */
.all_resumen a {
	color: #fff;
	text-decoration: none;
}
/* Fin pedidos*/

/* Reglas dashboard*/
.cajonsito{
	width: 100%;
	height: auto !important;
	color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}
.borderUno{
	border: 1px solid #222831;
	border-bottom: 7px solid #222831;
}

.borderDos{
	border: 1px solid #222831;
	border-left: 7px solid #222831;
}

.colorVerde{
	background-color: #4ECC00 !important;
}

.colorAzul{
	background-color: #00ADB5 !important;
}

.colorRosa{
	background-color: #C11384 !important;
}

.numberDashboard{
	font-weight: bold;
	font-size: 50px;
}

.subNumberDashboard{
	font-size: 16px;
}

.titleDashboard{
	font-size: 25px;
}

.displayinlineblock{
	display: inline-block !important;
}

.cajonsito i {
	color: #fff !important;
	font-size: 70px;
}
/* Fin reglas dashboard*/
